    <!DOCTYPE html>
<html>
  <head>
      <title>ThriftFindr</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/search.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a href="/" class="navbar-brand">ThriftFindr</a>
              <!-- this button element makes the hamburger on collapse -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                      <% if(!currentUser){ %>
                          <li><a href="/login">Login</a></li>
                          <li><a href="/register">Sign Up</a></li>
                      <% } else { %>
                          <% if(currentUser.picture) { %>
                              <li><img src="<%= currentUser.picture %>" class="nav-facebook-img"></li>
                          <% } %>

                          <li><a href="#">Signed In As <%= (currentUser.name || currentUser.username) %></a></li>
                          <li><a href="/logout">Log Out</a></li>
                      <% } %>
                  </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-account alert-danger" role="alert"> <%= error %> 
            </div>
        <% } %>
        
        <% if(success && success.length > 0){ %>
            <div class="alert alert-account alert-success" role="alert"> <%= success %> 
            </div>
        <% } %>
    </div>

    <div id="wrapper">
        <div class="container">
            
            <!-- include search -->
        
            <% include ../partials/search %>
        
        
            <div class="row" id="content" style="display:flex; flex-wrap: wrap;">
                
                
                <% if (locals.thriftstores && locals.thriftstores.length > 0){ %>
                <div class="col-md-12 text-center">
                    <p><strong><%= locals.thriftstores.length %> 
                    <% if (locals.thriftstores.length === 1) {%>
                        result
                    <% } else { %>
                        results
                    <% } %>
                    found for <em><%= term %></em>...</strong></p>
                </div>
                
                    <% thriftstores.forEach(function(thriftstore){ %>
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail">
                          <a href="/thriftstores/<%=thriftstore._id %>">
                           <div class="thumbnail-img"
                            <% if (thriftstore.image) { %> 
                                style="background-image: url('<%= thriftstore.image %>');"
                                <% } else { %>
                                style="background-image: url('http://i.imgur.com/kntSEEW.jpg');"
                            <% } %>
                        ></div>
                          </a>
                        <div class="store-info">
                            <div class="caption">
                                <a href="/thriftstores/<%=thriftstore._id %>"><h4 class="caption-link"><%= thriftstore.name %> </h4></a>
                                </div>
                                <% if (thriftstore.address) { %>
                                    <div class="city-display"><%= thriftstore.address %></div>
                                <% } %>
                                <% for(i = 0; i < thriftstore.pricegroup; i++) {%>
                                    <i class="price-display fa fa-usd" aria-hidden="true"></i>
                                <% } %>
                                <% for(i = thriftstore.pricegroup; i < 5; i++) {%>
                                    <i class="price-display fa fa-usd fa-usd-gray" aria-hidden="true"></i>
                                <% } %>                          
                        </div>

                </div>
                        </div>
                    <% }); %>
            <% } else if (locals.term) { %>            
                <div class="col-md-12 result">
                    <strong>Nothing found for <em><%= term %></em>...</strong>
                </div>
            <% } else { %>
                <div class="col-md-12 result">
                    <strong>You need to search something to find it...</strong>
                </div>
            <% } %>

            </div>
        </div>
    <div id="footer"><% include ../partials/footer %></div>
    
</div>


    <% include ../partials/scripts %>
    <script src="scripts/searchbar.js" type="text/javascript" charset="utf-8"></script>
    <% include ../partials/placesapi %>
    <% include ../partials/closingtags %>
