<% include ../partials/header %>
<div class="container page-content">

    <div class="row">
        <div class="col-md-3">
            <p class="lead">Business Info</p>
<!--
            <div class="list-group">
                <li class="list-group-item active">Phone Number: <br><a style="color:#fff;" href="tel: 
                <%if(thriftstore.phone) { %> 
                <%=thriftstore.phone%> 
                <% } %>">
                <%if(thriftstore.phone) { %> 
                <%=thriftstore.phone%> <a href="#"><i class="fa fa-pencil-square-o edit-business-number" aria-hidden="true"></i></a>

                <% } %>
                </a></li>
                <li class="list-group-item">Business Hours:</li>
                <li class="list-group-item">Today 11:00 am - 11:00 pm <a href="#"><i class="fa fa-pencil-square-o edit-business-times" aria-hidden="true"></i></a>
                <br> <span class="open-now">Open now</span>
                </li>
            </div>
-->
          
            <% if(thriftstore.address) { %>
            <div class="thriftstore-location">
                <p><strong>Address:</strong><br> <%= thriftstore.address %><!--  <br> <%= thriftstore.city%>, <%=thriftstore.state%> --></p>
                <div class="google-map responsive-iframe responsive-iframe-4x3">
                    <iframe
                      width="300"
                      height="450"
                      frameborder="0" style="border:0"
                      src="https://www.google.com/maps/embed/v1/place?key=<%=config.api_keys.google_maps%>&q=<%= thriftstore.address.replace(/ /g, '+') %> <%=thriftstore.city%> <%=thriftstore.state%>" allowfullscreen>
                    </iframe>
                </div>                
            </div>

            <% } %>
        </div>
        <div class="col-md-9 thrift-show">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= thriftstore.image %>">
                <div class="caption-full">
                    
                    <h4 class="pull-right price-group-output">
                        <% for(i = 0; i < thriftstore.pricegroup; i++) {%>
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        <% } %>
                        <% for(i = thriftstore.pricegroup; i < 5; i++) {%>
                            <i class="price-display fa fa-usd fa-usd-gray" aria-hidden="true"></i>
                        <% } %>                      
                    </h4>
                    <h4><a><%=thriftstore.name%></a></h4>
                    <p><%= thriftstore.description %></p>
                    <p>
                       <em>Submitted By: <%= (thriftstore.author.name ||  thriftstore.author.username) %></em>
                    </p>
                    <% if(currentUser && thriftstore.author.id && thriftstore.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/thriftstores/<%= thriftstore._id %>/edit">Edit</a>
                        <form id="delete" action="/thriftstores/<%= thriftstore._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">

                <% if (currentUser){ %>
                <form method="POST" action="/thriftstores/<%= thriftstore._id %>/comments">
                <div class="form-group">
                    <input class="form-control comment-add" type="text" name="comment[text]" placeholder="Write a comment...">
                </div>
               

                </form>
                <% } else { %>
                    <div class="text-right">
                        <p><a class="btn btn-success" href="/thriftstores/<%= thriftstore._id %>/comments/new">Add New Comment</a></p>
                    </div>
                <% } %>
                
                
                    <% thriftstore.comments.slice().reverse().forEach(function(comment){ %>

            <div class="panel panel-default">
              <div class="panel-body">
            
            
                        <div class="media">
                          <div class="media-left media-middle">
                              <% if (comment.author.picture){ %>
                                  <img width=64 class="media-object" src="<%= comment.author.picture %>" alt="">
                              <% } else { %>
                                  <img width=64 class="media-object" src="" alt="">
                              <% } %>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><%= comment.author.name || comment.author.username %><small class="text-muted pull-right"> <%= moment(comment.date).fromNow(); %> </small></h4>
                            
                            <p class="comment-text"><%= comment.text %></p>
                            <% if(currentUser && comment.author.id && comment.author.id.equals(currentUser._id)){ %>

                                <form method="POST" action="/thriftstores/<%= thriftstore._id %>/comments/<%= comment._id %>?_method=PUT">
                                    <div class="form-group">
                                    
                                        <input class="form-control comment-edit-input" type="text" name="comment[text]" value="<%= comment.text %>">
                                             
                                             
                                    </div>
                                </form>                                    

                                <a class="comment-edit btn btn-link" href="/thriftstores/<%=thriftstore._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                <a class="comment-edit-cancel btn btn-link" href="#">Cancel</a>
                            
                                <form id="delete" action="/thriftstores/<%=thriftstore._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-link delete-button" >Delete</button>
                                </form>
                            <% } %>



                          </div>
                        </div>

              </div>
            </div>
                    <% }); %>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
<% include ../partials/scripts %>
<script src="/scripts/show.js"></script>
<% include ../partials/closingtags %>